/* Center headings */
h1, h2 {
    text-align: center;
}

/* Remove bullets from list */
li {
    list-style-type: none;
}

/* Anchor styling */
a {
    text-decoration-line: none;
}

/* Body background */
body {
    background-color: rgb(204, 204, 204);
}

/* Player ONE */
.player.one {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

/* Player TWO */
.player.two {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
